.custom-button {
    position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%; /* Make the button circular */
  cursor: pointer;
  font-size: 24px; /* Adjust the font size as needed */
  }
